<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/public/style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Robert</title>
</head>

<body>
    <div class="navbar">
        <a class="navHome" href="/">Home</a>
        <a class="navAbout" href="/about
        ">About</a>
        <a class="navWorks" href="/works">Works</a>
        <a class="navGallery" href="/photoGallery">Photos</a>
    </div>


    <%- body %>

</body>



</html>